<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk.module.setup')
%>

<%def name="gen_form(method='POST', action=None)">
    <form  method="${method}"  action="${action if action else ''}">
</%def>

<div id="setup">
  <p class="pageDesc">Select the indexer stages you want to display:</p>
  ${gen_form(method="POST", action=make_url(['custom', 'dev_tutorial', 'TutorialSetup', 'save']))}
  ${csrf_hidden_input()}
    <input type="checkbox" name="dev-null" value="Yes" /> dev-null<br />
    <input type="checkbox" name="archivepipe" value="Yes" /> archivepipe<br />
    <input type="checkbox" name="fschangemanager" value="Yes" /> fschangemanager<br />
    <input type="checkbox" name="indexerpipe" value="Yes" checked/> indexerpipe<br />
    <input type="checkbox" name="merging" value="Yes" checked/> merging<br />
    <input type="checkbox" name="parsing" value="Yes" checked/> parsing<br />
    <input type="checkbox" name="scheduler" value="Yes" /> scheduler<br />
    <input type="checkbox" name="typing" value="Yes" checked/> typing<br />
    <input type="checkbox" name="tcp" value="Yes" /> tcp<br />
    <input type="checkbox" name="udp" value="Yes" /> udp<br />

    <p>Click the button to save your configuration:</p>
    <input class="splButton-primary" type="submit" value="Save"></input>
  </form>
  
</div>

