.CustomJSONResults {
    clear:both;
    padding:0px;
    _padding:0px 5px;
}
.CustomJSONResults .CustomResultsTableWrapper {
	overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 10px;
    _padding: 0px;
    _width:100%;
    *position:relative;
}
.CustomJSONResults table.CustomJSONResults {
    white-space:nowrap;   
}
.CustomJSONResults table.CustomJSONResults td.pos,
.CustomJSONResults table.CustomJSONResults th.pos {
    padding: 3px 10px 5px 5px;
    width: 15px;
}
.CustomJSONResults splMenu ul {
    margin-top: -2px
}
